.form {
  width: 100%;
  display: block;

  &__group {
    margin-bottom: $indent-middle;
  }

  &__label {
    display: block;
    font-weight: bold;
    font-size: $font-size-base;
    margin-bottom: $indent-small;
  }

  &__input {
    display: block;
    width: 100%;
  }
}
